
{% extends 'app/base.html' %}
{ % load static %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-4">
    <h1>Edit profile</h1>

    <form action="{% url 'app:edit_profile_action' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" name="username" value="{{request.user.username}}"/>
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input class="form-control" id="password" type="password" name="password"/><br>
      </div>
      <div class="form-group">
        <label for="first_name">first_name</label>
        <input class="form-control" id="first_name" type="first_name" name="first_name" value="{{request.user.first_name}}"/><br>
      </div>
      <div class="form-group">
        <label for="last_name">last_name</label>
        <input class="form-control" id="last_name" type="last_name" name="last_name" value="{{request.user.last_name}}"/><br>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input class="form-control" id="email" type="email" name="email" value="{{request.user.email}}"/><br>
      </div>
      <div class="form-group">
        <label for="profile_pic">Profile Pic</label>
        <input class="form-control" id="profile_pic" type="file" name="profile_pic"/><br>
      </div>
      <input class="btn btn-primary" type="submit" value="Save" />
    </form>
  </div>
</div>
{% endblock content %}
