{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<html>
<head>
<style>
h1{
  margin-top: 80px;
}
p{
    ;
}
</style>
</head>
</html>
<div class="row">
  <div class="col-md-12">
    <center>
    <h1>Welcome to Textra</h1>
    <p>Textra literally means Text plus Extra i.e Sharing of Photos and Messages with your Family and Friends</p>
  </center>
    <center>
        <img src="https://www.purechat.com/img/index/chat-callouts.9a534739.png" alt="Share" style="width:720px;height:470px">
    </center>
  </div>
</div>
{% endblock %}
